<div style="font-family: Arial, sans-serif;">
    <h1 style="color: #333; font-size: 24px;">Confirmation de la création de votre club</h1>
    <p style="color: #666; font-size: 16px;">Bonjour,</p>
    <p style="color: #666; font-size: 16px;">Nous vous confirmons la création de votre club : {{ club.name }}</p>
    <p style="font-size: 16px;"><a href="{{ url('app_club_show', {slug: club.slug}) }}">Voir votre club</a></p>
    <p style="color: #666; font-size: 16px;">Merci et à bientôt !<br><br>L'équipe de VarSports</p>
</div>