<div style="font-family: Arial, sans-serif;">
    <h1 style="color: #333; font-size: 24px;">Confirmation de la validation de votre évènement</h1>
    <p style="color: #666; font-size: 16px;">Bonjour,</p>
    <p style="color: #666; font-size: 16px;">Nous vous confirmons la validation de votre évènement : {{ event.title }}</p>
    <p style="font-size: 16px;"><a href="{{ url('app_event_show', {slug: event.slug}) }}">Voir votre évènement</a></p>
    <p style="color: #666; font-size: 16px;">Merci et à bientôt !<br><br>L'équipe de VarSports</p>
</div>