<div style="font-family: Arial, sans-serif;">
    <h1 style="color: #333; font-size: 24px;">Vérification de votre adresse email</h1>
    <p style="color: #666; font-size: 16px;">Bonjour,</p>
    <p style="color: #666; font-size: 16px;">Merci de vous être inscrit sur notre site. Pour compléter votre inscription, veuillez vérifier votre adresse email en cliquant sur le lien ci-dessous :</p>
    <p><a href="{{ signedUrl|raw }}" style="font-size: 16px;">Vérifier mon adresse email</a></p>
    <p style="color: #666; font-size: 16px;">Si vous n'avez pas demandé cette vérification, veuillez ignorer cet email.</p>
    <p style="color: #666; font-size: 16px;">Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
    <p style="color: #666; font-size: 16px;">Merci et à bientôt !<br><br>L'équipe de VarSports</p>
</div>
