.article-spotlight {
    min-height: 250px;

    @media screen and (min-width: 768px) {
        max-height: 250px;
    }
}

.swiper {

    .swiper-button-next,
    .swiper-button-prev {
        color: var(--varsports-color);
    }

    .swiper-pagination-bullet-active {
        background: var(--varsports-color);
    }
}

.articles-to-note {

    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        min-width: 100%;
    }

    .article-cover-list {
        max-height: 100px;
    }
}

.articles-social {

    .article-cover-list {
        max-height: 200px;
    }
}

.article-profile {

    .article-cover {
        max-height: 500px;
    }

    .card-text > p {
        max-height: 500px;
        overflow: hidden;
    }
}
