:root {
    --varsports-color: #c30101;
}


.bg-varsports {
    background-color: var(--varsports-color) !important;
}

.btn-varsports {
    background-color: var(--varsports-color);
    color: #fff;

    &:hover {
        background-color: #c96565;
        color: #fff;
    }
}

.border-varsports {
    border-color: var(--varsports-color) !important;
}

.text-varsports {
    color: var(--varsports-color) !important;
}

.logo-varsports {
    max-height: 100px;
}

.dropdown-select {
    max-height: 200px;

    @media screen and (min-width: 768px) {
        max-height: 400px;
    }
}

.dropdown-select-label {
    cursor: pointer;
}

.h-fit-content {
    height: fit-content;
}

ul.select2-selection__rendered > .select2-selection__choice {
    width: fit-content;
}

form label.required::after {
    content: "*";
}

.ck-editor__editable {
    min-height: 200px;
}
