.bg-varsports {
    background-color: #c30101 !important;
}

.btn-varsports {
    background-color: #c30101;
    color: #fff;

    &:hover {
        background-color: #c96565;
        color: #fff;
    }
}

.border-varsports {
    border-color: #c30101 !important;
}

.text-varsports {
    color: #c30101 !important;
}

.logo-varsports {
    max-height: 100px;
}