<div style="font-family: Arial, sans-serif;">
    <h1 style="color: #333; font-size: 24px;">Formulaire de contact</h1>
    <p style="color: #666; font-size: 16px;">Bonjour,</p>
    <p style="color: #666; font-size: 16px;">Vous avez recu un message de {{ email_from }} :</p>
    <p style="color: #666; font-size: 16px;">{{ message }}</p>
</div>