{% extends 'base.html.twig' %}

{% block title %} | Conditions Générales d'Utilisation{% endblock %}

{% block body %}
<section class="container my-5">
    <h1 class="h3 mb-3 font-weight-normal">Conditions Générales d'Utilisation</h1>

    <p>En naviguant sur notre site varsports.fr, l'internaute reconnaît avoir pris connaissance et accepté l'intégralité de nos conditions générales d'utilisation.</p>
    
    <article>
        <h2 class="h5">Données personnelles :</h2>
        <p>Les données personnelles qui peuvent vous être demandées (en vue de référencer votre clubs, association ou communes, recevoir notre newsletter ou encore d'adhérer et bénéficier de notre carte avantages vs+) sont :</p>
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Adresse</li>
            <li>Code postal</li>
            <li>Ville</li>
            <li>Téléphone fixe/mobile</li>
            <li>Adresse e-mail</li>
            <li>Site Internet</li>
            <li>Réseaux sociaux</li>
            <li>Mode de règlement</li>
            <li>Compétence(s) en qualité d'adhérent auxquelles vous proposez de répondre en service.</li>
            <li>La liste éventuelle des membres du bureau du service de sports, ainsi que celle des infrastructures sportives mises à dispositions de leurs résidents peuvent également être demandées, car très importantes pour nos internautes. (uniquement pour les communes)</li>
        </ul>

        <p>Le traitement de ces données, dont le responsable est le représentant légal de l'association VarSports, est en conformité avec le Règlement général de protection des données personnelles entré en vigueur le 25 Mai 2018. Vous pouvez faire valoir vos droits de consultation, de rectification et de suppression en le contactant à l'adresse suivante info@varsports.fr. Nous nous engageons à ne pas revendre ni donner ces informations qui ne sont pas conservées dès lors que vous nous demanderez de ne plus bénéficier de nos offres et services, et ni même recevoir notre newsletter.</p>
    </article>

    <article>
        <h2 class="h5">Cookies :</h2>

        <p>En vue d'améliorer notre site, nous utilisons Google Analytics qui est un outil « d'analyse d'audience Internet permettant aux propriétaires de sites Web et d'applications de mieux comprendre le comportement de leurs utilisateurs. Cet outil peut utiliser des cookies pour collecter des informations et générer des rapports sur les statistiques d'utilisation d'un site Web sans que les utilisateurs individuels soient identifiés personnellement par Google. Outre la génération de rapports sur les statistiques d'utilisation d'un site Web, Google Analytics permet également, en association avec certains des cookies publicitaires décrits ci-dessus, d'afficher des annonces plus pertinentes sur les sites Google (tels que la recherche Google) et sur le Web. »</p>
        <p>https://www.google.fr/intl/fr/policies/technologies/types/. Nous utilisons également ces cookies à l'amélioration de votre navigation sur notre site tenant compte exclusivement de votre navigateur.</p>
    </article>

    <article>
        <h2 class="h5">Propriété intellectuelle :</h2>

        <p>Le site web a été réalisé sur une base et de nombreux plugins WordPress, par notre service webmaster : webmaster@varsports.fr. Il est de par son contenu, la propriété de l'association et ne peut faire l'objet de reproduction.</p>
    </article>

    <article>
        <h2 class="h5">Photographies et contenu :</h2>

        <p>Hormis les infos publiées par les clubs, commerces, communes et associations sur leurs réseaux sociaux, que nous repartageons ou republions à notre tour en qualité de référenceur et d'influenceur : les photographies, vidéos,  textes et  illustrations  publiés sur le site sont propriété de l'association ou ont fait l'objet de cession de droits. Ils  ne peuvent faire l'objet d'aucune réutilisation, sauf autorisation préalable.</p>
    </article>

    <article>
        <h2 class="h5">Liens hypertextes :</h2>

        <p>Le site varsports.fr peut contenir des liens hypertextes renvoyant à des pages ou des sites dont le contenu ne peut engager en rien l'association VarSports. Les liens hypertextes renvoyant vers notre site sont les bienvenus lorsqu'ils émanent de sites respectant la législation en vigueur et son en adéquation avec la ligne éditoriale & le cadre (sport) de notre site.</p>
    </article>
</section>
{% endblock %}
