{% extends 'base.html.twig' %}

{% block title %} | Mentions légales{% endblock %}

{% block body %}
<section class="container my-5">
    <h1 class="h3 mb-3 font-weight-normal">Mentions légales</h1>
    
    <article>
        <h2 class="h5">PROMOTION DU SPORT</h2>
        <p>Faire découvrir l'ensemble des sports et encourager à la pratique par tous.</p>
        <ul>
            <li>Développer la notoriété de la marque VarSports à travers ses services,</li>
            <li>Fédérer autour du Projet : Organismes publics, privés, Clubs et Médias locaux,</li>
            <li>Soutenir et conseiller les clubs dans leurs modes & besoins de communication,</li>
            <li>Aider les Collectivités dans leurs soutiens au développement du sport,</li>
            <li>Créer un événement varois, dédié à la découverte de tous les sports,</li>
            <li>Permettre l'accès à l'échange « sport & emploi » plus facile pour tous.</li>
        </ul>
    </article>

    <article>
        <h2 class="h5">SERVICES AUX CLUBS</h2>

        <ul>
            <li>Offrir aux clubs Varois, Aides & Services dans la partie "Communication"</li>
            <li>Publier un annuaire en ligne ( par discipline + ville) de l'ensemble des clubs varois,</li>
            <li>Promouvoir l'agenda des multiples événements & rendez-vous sportifs varois,</li>
            <li>Partager l'essentiel des multiples informations et événements du sport varois,</li>
            <li>Proposer des services de mutualisation : sponsoring, vidéo-reportages, communication,</li>
            <li>Poster formations, recrutements, infos techniques et juridiques, des clubs et comités.</li>
        </ul>
    </article>

    <article>
        <h2 class="h5">LE PRÉSENT SITE EST LA PROPRIÉTÉ DE :</h2>

        <p>L'ASSOCIATION VARSPORTS  Association à but non lucratif de droit français régie par la loi du 1er juillet 1901.</p>
        <p>Adresse : 42 Place Gustave Balles. 83000 Toulon</p>
        <p>immatriculation sous référence : W832015601. Numéro de Siret : 84974014700012</p>
        <p>Président : Thomas GUEDJ Contact : <a href="tel:+33664765613">0664765613</a>  //  <a href="mailto:info@varsports.fr">info@varsports.fr</a></p>
    </article>

    <article>
        <h2 class="h5">HÉBERGEMENT :</h2>
        <p>O2switch</p>
        <p>Adresse : 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand</p>
        <p>La marque o2switch est déposée INPI sous le numéro 09 3 645 729. http://www.o2switch.fr/</p>
    </article>
</section>
{% endblock %}
